* {
	font-family: "MuseoSans-500", roboto, sans-serif;
	box-sizing: border-box;
	color: #333;
}

body {
	background: #e5e5e5 url('http://www.soas.ac.uk/static/assets/body-pattern.png') repeat-y right top;
}
/* --- */
.sec {
    margin: 0 auto;
    max-width: 1140px;
    background: white !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3)
}
.app-header {
	padding: 5px 26px 3px;
	margin-top: 15px !important;
}
.app-header * {
	vertical-align: middle;
}
/* --- */
.year {
	width: 33.3333%;
	float: left;
}
.yrblock h2 {
	margin-bottom: 0 !important;
}
.yrblock {
	padding: 0 20px 20px;
}
.yrblock:nth-child(1) {
	padding-top: 10px;
}
.yrblock:nth-child(2) {
    border-bottom: 1px solid #EEE;
}
.year + .year {
    border-left: 1px solid #EEE;
}
.year h2 {
	margin-top: 0;
}
.year-header {
	padding-top: 20px !important;
}

.selection {
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.1);
	padding: 25px;
	border-radius: 4px;
	border-left: 6px solid #3D9970;
	cursor: pointer;
}
.selection.required {
	border-left-color: #888;
    cursor: not-allowed;
}

.selection + .selection {
	margin-top: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

.selectable {
	font-size: 0.8em !important;
	padding: 13px 11px !important;
	border-left-color: #CCC !important;
	width: 90%;
	margin-left: 10%;
}

.selectable.chosen {
    cursor: not-allowed;
    opacity: 0.2;
}

/* --- */

.lesson {
	border: 1px solid #EEE;
	padding: 20px;
	width: 33.33333%;
	float: left;
	height: 6em;
	overflow: hidden;
	cursor: default;
}

.lesson__title {
	font-size: 20px;
	margin: 0;
}

.lesson__description {
	font-size: 0.8em !important;
	color: #EEE;
}
.lesson:hover .lesson__description {
	color: #AAA;
	transition: all 0.05s linear;
}
sub {
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2em;
	color: #AAA;
	display: block;
	margin-top: 0.1em;
}
.prerequisites {
    display: none;
}
.unsatisfied {
	border-left-color: #FF4136 !important;
}
.unsatisfied.selected .prerequisites,
.unsatisfied.selectable:hover .prerequisites {
    display: block;
    color: #FF4136;
}
.unsatisfied .prerequisites:before {
	content: "Prerequisite courses missing:";
}

.selection {
    position: relative;
}

.description {
    font-size: 12px;
    width: 100%;
    max-height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-property: opacity,max-height,padding;
    transition-duration: 0.25s;
    transition-delay: 0s;
    left: 0;
    position: absolute;
    padding: 0 25px;
    background: white !important;
    opacity: 0;
    box-shadow:
        inset 0px -7px 20px rgba(0,0,0,0.1),
        0px 4px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.description li {
	list-style-type: circle;
}
.selection:hover .description {
    transition-delay: 2s;
    max-height: 350px;
    z-index: 999;
    overflow-y: auto;
    padding: 10px 25px;
    opacity: 1;
}

.yrblock {
    background: white;
}

main.sec,
.selectable-options {
    background: #FAFAFA !important;
}

#selector {
    padding: 20px;
    text-align: center;
}

.wildcard {
    content: "";
    position: fixed;
    display: block;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-delay: 0s;
    z-index: 1 !important;
}
.selection:hover ~ .wildcard {
    opacity: 1;
    transition-delay: 2s;
}
.selection {
    position: relative;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-delay: 0s;
}
.selection:hover {
    opacity: 1;
    z-index: 999 !important;
    background: white;
    transition-delay: 2s;
}
.course-title span + span:before {
    content: " and ";
}
.subject-option { display: none; }
.combined .subject-option {
    /*display: block !important;*/
    opacity: 0.85;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold !important;
}
.combined .subject-option {
	display: inline-block !important;
    color: white;
    background: #FF851B;
    border-radius: 3px;
    font-weight: bold;
    padding: 2px 3px 1px 2px;
}
.combined .subject-option.combocourse {
    background: #0074D9;
    border-radius: 3px;
}
.combined selection .subject-option {
    font-size: 10px !important;
    /*display: inline-block !important;*/
}
.combined .selection .subject-option + .subject-option {
    margin-left: 3px !important
}
.combined h4 > .subject-option + span {
	margin-top: 3px;
	display: block;
}
.combined .selection .subject-option {
    font-size: 9px;
    opacity: 0.7;
}
